:root{
    --gray: #787d82;
    --white: #fff;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('images/back.jpg'); /* Changed background-image property */
    background-size: cover; 
    background-attachment: fixed;
    box-sizing: border-box;
}

header, nav, section, footer {
    padding: 20px;
}

header {
    background-color: var(--gray);
    color: #000000;
    text-align: center;
}

nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background: var(--white);
    display: inline-block;
    padding: 1em;
    border-radius: 20px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

#home {
    /* border: 2px solid red; */
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-text h1,
#profile-text p{
    margin-top: 0.2em;
}

#profile-text p{
    text-align: center;
}

#profile-picture {
    width: 200px;
    height: auto; 
    border-radius: 20%; 
    border: 2px solid black;
    /* margin-top: 20px; */
    /* display: block; */
}

#about{
    background: var(--white);
    border-radius: 20px;
    width: 90%;
    margin: 2em auto 2em auto;
}

section {
    margin: 20px 0;
}

#Info{
    background: var(--white);
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
}

#myInfo, 
.info-section{
    margin-bottom: 1em;
}

.info-section h2{
    margin-bottom: 0.3em;
}

#projects{
    background: var(--white);
    border-radius: 20px;
    width: 90%;
    margin: 2em auto 2em auto;
}

.project {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

footer {
    background-color: var(--gray);
    padding-bottom: 5px;
}

footer .social-icons{
    display: flex;
    justify-content: center;
}

footer .social-icons a{
    color: #000000;
    width: 2em;
    font-size: 2em;
}
